# Environment
.env
.env.local
.env.*.local

# Symfony
/var/
/vendor/

# E2E
/e2e/node_modules/
/e2e/playwright-report/
/e2e/test-results/
/e2e/.env

# Misc
.DS_Store

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
